<div class="list-group panel">
    <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-search"></i> <span class="hidden-sm-down">Search</span> </a>
    <div class="collapse" id="menu1">
        <div class="form-inline list-group-item" data-parent="#menu1">
            <div class="input-group">
                <input class="form-control" [(ngModel)]="query" placeholder="Search for movie.." type="text">
                <div class="input-group-btn">
                    <button class="btn btn-default" (click)="search.emit(query)" [disabled]="!query.length" type="button">
                          <i class="fa fa-search"></i>
                     </button>
                </div>
            </div>
        </div>
    </div>
    <a href="#menu2" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-filter"></i> <span class="hidden-sm-down">Filters</span></a>
    <div class="collapse" id="menu2">
        <div class="input-group" data-parent="#menu2">
            <span class="input-group-addon">{{rate}}</span>
            <input class="form-control" #rateSelector data-parent="#menu2" type="range" min="5" max="10" step="0.1" [(ngModel)]="rate" />
            <span class="input-group-btn">
                 <button class="btn btn-secondary" type="button"><i class="fa fa-check"></i></button>
                 <button class="btn btn-secondary" type="button"><i class="fa fa-remove"></i></button>
            </span>
        </div>
        <a href="#" class="list-group-item" data-parent="#menu2">2.1</a>
        <a href="#" class="list-group-item" data-parent="#menu2"><i class="fa fa-star"></i> 2.2</a>
    </div>
</div>