<li class="item c-article-tile" [routerLink]="['/movie', id]">
    <article class="t-sass" itemscope itemtype="http://schema.org/Article">
        <div class="header">
            <a [routerLink]="['/movie', id]" class="movie-name">
            {{title}}
            </a>
            <p class="rating"><i class="fa fa-star"></i> {{rate}}</p>
        </div>

        <div class="body">
            <img class="img-fluid center-block" [src]="thumbnail"/>
        </div>

        <footer class="footer">
            <span *ngFor="let genre of genres" class="genre badge badge-pill badge-default">{{genre}}</span>
            <span datetime="2016-05-12T12:00" class="length" itemprop="datePublished">
                {{ mLength | movieLength}}
            </span>
        </footer>
    </article>
</li>