<table class="table table-striped table-inverse">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genres</th>
            <th>Length</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let movie of movies" >
            <td><a [routerLink]="['/movie', movie.id]">{{movie.name}}</a></td>
            <td>
                <span *ngFor="let genre of movie.genres" class="badge badge-secondary">{{genre}}</span>
            </td>
            <td>{{movie.length | movieLength}}</td>
            <td>{{movie.rate}}</td>
        </tr>
    </tbody>
</table>