$title-color: #369;
$backgrnd-color: #252830;
$footer-height: 60px;

h1 {
  color: $title-color;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {
   position: relative;
   min-height: 100%;
}

body {
  background-color: $backgrnd-color;
  margin-bottom: $footer-height;
}

.site-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  line-height: $footer-height; 
  background-color: $backgrnd-color;
}

.text-center {
    text-align: center!important;
}

/* make sidebar nav vertical */ 
#sidebar {
  .list-group-item {
    border-radius: 0;
    background-color: #333;
    color: #ccc;
    border-left: 0;
    border-right: 0;
    border-color: #2c2c2c;
    white-space: nowrap;
    &:not(.collapsed) {
      background-color: #222;
    }
  }
  .list-group {
    .list-group-item {
      &[aria-expanded="false"]::after {
        content: " \f0d7";
        font-family: FontAwesome;
        display: inline;
        text-align: right;
        padding-left: 5px;
      }
      &[aria-expanded="true"] {
        background-color: #222;
        &::after {
          content: " \f0da";
          font-family: FontAwesome;
          display: inline;
          text-align: right;
          padding-left: 5px;
        }
      }
    }
    .collapse {
      .list-group-item {
        padding-left: 20px;
      }
      > .collapse {
        .list-group-item {
          padding-left: 30px;
        }
        > .collapse .list-group-item {
          padding-left: 40px;
        }
      }
    }
  }
  &.collapse {
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s;
    transition-duration: .2s;
  }
  &.collapsing {
    opacity: 0.8;
    width: 0;
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-property: width;
    -o-transition-property: width;
    transition-property: width;
  }
}

@media (max-width: 48em) {
  #sidebar .list-group {
    .collapse.in, .collapsing {
      position: absolute;
      z-index: 1;
      width: 190px;
    }
    > .list-group-item {
      text-align: center;
      padding: .75rem .5rem;
      &[aria-expanded="true"]::after, &[aria-expanded="false"]::after {
        display: none;
      }
    }
  }
}

/*tile styles*/
.c-tile-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  .item {
    display: flex;
    flex-direction: column;
    flex: 0 0 300px;
    margin: 10px;
  }
}

.c-article-tile {
  overflow: hidden;
  padding: 0;  
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .28571429rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  background-color: rgb(255, 255, 255);
  a {
    color: inherit;
    text-decoration: none;
  }
  .t-sass {
  color: #0275d8;
  }
  .header, .body, .footer {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
  }
  .header, .footer {
    font-size: 80%;
  }
  .header {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid;
  }
  .movie-name {
    font-weight: bold;
  }
  .rating {
    margin-left: auto;
  }
  .body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer {
    padding-top: 10px;
    padding-bottom: 15px;
    margin-top: auto;
    white-space: nowrap;
    color: #949494;
  }
  .genre {
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: 2px;
  }
  .length {
    margin-left: auto;
  }
}

/*badge styles*/
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.badge-default {
  background-color: #0275d8;
}

.badge-secondary {
  background-color: #868e96;
}

.pagination {
margin: 0px !important;
}

.details-page {
  li {
    list-style: none;
    margin-bottom:10px;
  }
  i{
    margin-right: 10px;
  }
}

.table-list {
  tbody tr:nth-of-type(odd){
    background-color: rgba(255,255,255,.05);
  }

  .badge {
    margin-right: 2px;
  }

}

/*Radio styles*/
.funkyradio {  
      div {
          clear: both;
          overflow: hidden;
      }  
      label {
          width: 100%;
          border-radius: 3px;
          border: 1px solid #D1D3D4;
          font-weight: normal;
      }  
      input[type="radio"] {
  
          &:empty {
              display: none;
  
              ~ label {
                  position: relative;
                  line-height: 2.5em;
                  text-indent: 3.25em;
                  margin-top: 2em;
                  cursor: pointer;
                  user-select: none;
  
                  &:before {
                      position: absolute;
                      display: block;
                      top: 0;
                      bottom: 0;
                      left: 0;
                      content: '';
                      width: 2.5em;
                      background: #D1D3D4;
                      border-radius: 3px 0 0 3px;
                  }
              }
          }
  
          &:hover:not(:checked) ~ label {
              color: #888;
  
              &:before {
                  content: '\2714';
                  text-indent: .9em;
                  color: #C2C2C2;
              }
          }
  
          &:checked ~ label {
              color: #777;
  
              &:before {
                  content: '\2714';
                  text-indent: .9em;
                  color: #333;
                  background-color: #ccc;
              }
          }
  
          &:focus ~ label:before {
              box-shadow: 0 0 0 3px #999;
          }
      }
  
      &-primary {
          input[type="radio"] {
              &:checked ~ label:before {
                  color: #fff;
                  background-color: #337ab7;
              }
          }
      }
  }